@*
 * This template is called from the `index` template. This template
 * handles the rendering of the page header and body tags. It takes
 * two arguments, a `String` for the title of the page and an `Html`
 * object to insert into the body of the page.
 *@

@import models.deliverypoint.DeliveryPoint
@(deliveryPoints:List[DeliveryPoint], deliveryPointType: Integer)

@main("Delivery points"){

    <a href="@routes.LibraryController.index()">Return to index page</a>


    <form action="@routes.LibraryController.selectDeliveryPoint" method="post">
        <p><select name="Delivery Points" size="@deliveryPoints.size()">
        @for(point <- deliveryPoints) {
            <option value="@point.id">@point.name, Address: @point.address (Type: @point.deliveryPointType)
        }
        </select>
        <button>Work with selected delivery point</button>
    </form>

    <p>To register a new delivery point please use the following form</p>

    <form action="@routes.LibraryController.addDeliveryPointType" method="post">
        <p><select name="Delivery Points">
            @if(deliveryPointType == 0) {
                <option value="0" selected="selected">Reading room
                <option value="1">Delivery desk
            }else{
                <option value="0">Reading room
                <option value="1" selected="selected">Delivery desk
            }
        </select>
            <button>Select</button>
    </form>

    <form action="@routes.LibraryController.addDeliveryPoint" method="post">

        <li>Name of the point</li>
        <input type="text" name="name" value="name"/>

        <li>Address</li>
        <input type="text" name="address" value="address"/>
        <br>
        <button>Add delivery point</button>

    </form>
}
