@*
 * This template is called from the `index` template. This template
 * handles the rendering of the page header and body tags. It takes
 * two arguments, a `String` for the title of the page and an `Html`
 * object to insert into the body of the page.
 *@

@import models.deliverypoint.DeliveryPoint
@import models.deliverypoint.DeliveryPointType
@(deliveryPointTypes: List[DeliveryPointType], deliveryPoints:List[DeliveryPoint], deliveryPointType: DeliveryPointType, deliveryPoint: DeliveryPoint)

@main("Delivery points"){

    <a href="@routes.LibraryController.index()">Return to index page</a>


    <form action="@routes.LibraryController.selectDeliveryPoint" method="post">
        <p><select name="Delivery Points" size="@deliveryPoints.size()" required>
        @for(point <- deliveryPoints) {
            @if(deliveryPoint != null && deliveryPoint.id == point.id){
                <option value="@point.id" selected="selected">@point.name, Address: @point.address (Type: @point.deliveryPointType.name)
            }else{
                <option value="@point.id">@point.name, Address: @point.address (Type: @point.deliveryPointType.name)
            }
        }
        </select>
        <button>Work with selected delivery point</button>
    </form>

    <p>To register a new delivery point please use the following form</p>

    <form action="@routes.LibraryController.selectDeliveryPointType" method="post">
        <p><select name="Delivery Points" size="@deliveryPointTypes.size()">
            @for(point <- deliveryPointTypes){
                @if(deliveryPointType != null && deliveryPointType.id == point.id) {
                    <option value="@point.id" selected="selected">@point.name
                }else{
                    <option value="@point.id">@point.name
                }
            }
        </select>
            <button>Select</button>
    </form>

    <form action="@routes.LibraryController.addDeliveryPoint" method="post">

        <li>Name of the point</li>
        <input type="text" name="name" value="name" required/>

        <li>Address</li>
        <input type="text" name="address" value="address" required/>
        <br>
        <button>Add delivery point</button>

    </form>
}
