@*
 * This template is called from the `index` template. This template
 * handles the rendering of the page header and body tags. It takes
 * two arguments, a `String` for the title of the page and an `Html`
 * object to insert into the body of the page.
 *@

@import models.book.Book
@import utils.Pair
@import models.deliverypoint.DeliveryPoint
@(books:List[Book], selectedBook:Book, selectedDeliveryPoint:DeliveryPoint, deliveryPointAmount:List[Pair[DeliveryPoint,Long]])

@main("Instances"){
    <table class="table table-bordered" valign="top" cellspacing="20">
        <thead>
            <tr>
                <th>Add instances of selected book</th>
                <th>Book instances in library</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                    <form action="@routes.LibraryController.selectBook" method="post">
                        <p><select multiple="multiple" class="form-control" name="Books" size="@books.size()" required>
                        @for(book <- books) {
                            @if(selectedBook != null && selectedBook.id == book.id){
                                <option value="@book.id" selected="selected">
                            }else{
                                <option value="@book.id">
                            }
                            Author: @book.author, Title: @book.title (@book.releaseDate, @book.price)
                        }
                        </select>
                            <br><button type="submit" class="btn btn-primary">Select book</button>
                    </form>

                    <form action="@routes.LibraryController.addInstance" method="post">
                        <p>To add instances of the selected book please fill the following form</p>
                        <br>
                        <label>Date of instances arrival</label><br>
                        <input type="date" name="date" required><br>
                        <label>Amount of instances arrived</label><br>
                        <input type="number" name="amount" required>
                        <br>
                        <br>
                        @if(selectedBook == null) {
                            <button disabled class="btn btn-danger">Please select the book first</button>
                        }else {
                            @if(selectedDeliveryPoint == null) {
                                <button disabled class="btn btn-danger">Please select delivery point first</button>
                            } else {
                                <button type="submit" class="btn btn-primary">Add to the library</button>
                            }
                        }
                    </form>
                </td>
                <td>
                    @if(selectedBook != null) {
                        <table class="table table-bordered" valign="top" cellspacing="20">
                            <thead>
                                <tr>
                                    <th>Delivery point name</th>
                                    <th>Delivery point address</th>
                                    <th>Amount</th>
                                </tr>
                            </thead>
                            <tbody>
                            @for(entity <- deliveryPointAmount) {
                                <tr>
                                    <td>@entity.first.name</td>
                                    <td>@entity.first.address</td>
                                    <td>@entity.second</td>
                                </tr>
                            }
                            </tbody>
                        </table>
                    }else{
                        <label class="text-danger">Book is not specified!</label>
                    }
                </td>
            </tr>
        </tbody>
    </table>
}
