@*
 * This template is called from the `index` template. This template
 * handles the rendering of the page header and body tags. It takes
 * two arguments, a `String` for the title of the page and an `Html`
 * object to insert into the body of the page.
 *@

@import models.book.Book
@import utils.Pair
@import models.deliverypoint.DeliveryPoint
@(books:List[Book], selectedBook:Book, selectedDeliveryPoint:DeliveryPoint, booksInDeliveryPoint: List[Pair[Book,Long]])

@main("Instances"){

    <a href="@routes.LibraryController.index">Return to index page</a>

    <p>Please select books that library knows to add instances of it</p>

    <form action="@routes.LibraryController.selectBook" method="post">
        <p><select name="Books" size="@books.size()" required>
            @for(book <- books) {
                @if(selectedBook != null && selectedBook.id == book.id){
                    <option value="@book.id" selected="selected">Author: @book.author, Title: @book.title (@book.releaseDate, @book.price)
                }else{
                    <option value="@book.id">Author: @book.author, Title: @book.title (@book.releaseDate, @book.price)
                }
            }
        </select>
        <button>Select book</button>
    </form>

    <form action="@routes.LibraryController.addInstance" method="post">
        <p>To add instances of the selected book please fill the following form</p>
        <br>
        <p>Date of instances arrival</p>
        <input type="date" name="date" required>
        <p>Amount of instances arrived</p>
        <input type="number" name="amount" required>
        @if(selectedBook == null) {
            <button disabled>Please select the book first</button>
        }else {
            @if(selectedDeliveryPoint == null) {
                <button disabled>Please select delivery point first</button>
            } else {
                <button>Add to the library</button>
            }
        }
    </form>
    @if(selectedDeliveryPoint != null){
        <br>
        <p>All books in selected delivery point</p>
        <br>
        <table cellspacing="10" border="10">
            <thead>
                <tr>
                    <th>Title</th>
                    <th>Author</th>
                    <th>Release date</th>
                    <th>Price</th>
                    <th>Amount</th>
                </tr>
            </thead>
            <tbody>
                @for(bookPair <- booksInDeliveryPoint) {
                    <tr>
                        <td>@bookPair.first.title</td>
                        <td>@bookPair.first.author</td>
                        <td>@bookPair.first.releaseDate</td>
                        <td>@bookPair.first.price</td>
                        <td>@bookPair.second</td>
                    </tr>
                }
            </tbody>
        </table>
    }
}
