@*
 * This template is called from the `index` template. This template
 * handles the rendering of the page header and body tags. It takes
 * two arguments, a `String` for the title of the page and an `Html`
 * object to insert into the body of the page.
 *@

@import models.book.Book
@(books:List[Book], i:Integer)

@main("Instances"){

    <a href="@routes.LibraryController.index()">Return to index page</a>

    <p>Please select books that library knows and to add instances of it</p>

    <form action="@routes.LibraryController." method="post">
        <p><select name="Books" size="@books.size()">
            @for(i <- 0 until books.size()) {
                <option value="@i">@books.get(i).author, @books.get(i).title (@books.get(i).releaseDate, @books.get(i).price)<option>
            }
        </select>

    </form>


}
