@*
 * This template is called from the `index` template. This template
 * handles the rendering of the page header and body tags. It takes
 * two arguments, a `String` for the title of the page and an `Html`
 * object to insert into the body of the page.
 *@

@import models.book.Book
@(books:List[Book])

@main("Instances"){

    <a href="@routes.LibraryController.index()">Return to index page</a>

    <p>Please select books that library knows to add instances of it</p>

    <form action="@routes.LibraryController.selectBook" method="post">
        <p><select name="Books" size="@books.size()">
            @for(book <- books) {
                <option value="@book.id">Author: @book.author, Title: @book.title (@book.releaseDate, @book.price)
            }
        </select>
        <button>Select book</button>
    </form>


}
