@*
 * This template is called from the `index` template. This template
 * handles the rendering of the page header and body tags. It takes
 * two arguments, a `String` for the title of the page and an `Html`
 * object to insert into the body of the page.
 *@
@(title: String)(content: Html)

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Library</title>
            <!-- Core CSS - Include with every page -->
        <link href="assets/plugins/bootstrap/bootstrap.css" rel="stylesheet" />
        <link href="assets/font-awesome/css/font-awesome.css" rel="stylesheet" />
        <link href="assets/plugins/pace/pace-theme-big-counter.css" rel="stylesheet" />
        <link href="assets/css/style.css" rel="stylesheet" />
        <link href="assets/css/main-style.css" rel="stylesheet" />
    </head>
    <body>
            <!--  wrapper -->
        <div id="wrapper">
                <!-- navbar top -->
            <nav class="navbar navbar-default navbar-fixed-top" role="navigation" id="navbar">
                    <!-- navbar-header -->
                <a class="navbar-brand" href="@routes.LibraryController.index">
                    <p class="text-top">&nbsp&nbsp&nbspLibrary</p>
                </a>
            </nav>
                <!-- end navbar top -->

                <!-- navbar side -->
            <nav class="navbar-default navbar-static-side" role="navigation">
                    <!-- sidebar-collapse -->
                <div class="sidebar-collapse">
                        <!-- side-menu -->
                    <ul class="nav" id="side-menu">
                        @if(title == "Books"){
                            <li class="selected">
                        }else{
                            <li class="">
                        }
                            <a href="@routes.LibraryController.booksPage"><i class="fa fa-dashboard fa-fw"></i>Books</a>
                        </li>
                        @if(title == "Instances"){
                            <li class="selected">
                        }else{
                            <li class="">
                         }
                            <a href="@routes.LibraryController.instancesPage"><i class="fa fa-bar-chart-o fa-fw"></i>Instances</a>
                        </li>
                        @if(title == "Add users"){
                            <li class="active">
                        }else{
                            <li class="">
                         }
                            <a href="#"><i class="fa fa-flask fa-fw"></i>Users
                                <span class="fa arrow" href="@routes.LibraryController.addUsersPage"></span></a>
                                <ul class="nav nav-second-level">
                                    @if(title == "Add users"){
                                        <li class="selected">
                                    }else{
                                        <li>
                                    }
                                    <a href="@routes.LibraryController.addUsersPage">Users add/select</a>
                                </li>
                                </ul>
                        </li>
                        @if(title == "Delivery points" || title == "Delivery point books"){
                            <li class="active">
                        }else{
                            <li class="">
                        }
                            <a href=""><i class="fa fa-table fa-fw"></i>Delivery points
                                <span class="fa arrow" href="@routes.LibraryController.deliveryPointsPage"></span></a>
                                <ul class="nav nav-second-level">
                                    @if(title == "Delivery points"){
                                        <li class="selected">
                                    }else{
                                        <li>
                                    }
                                    <a href="@routes.LibraryController.deliveryPointsPage">Delivery points add/select</a>
                                </li>
                                </ul>
                                <ul class="nav nav-second-level">
                                    @if(title == "Delivery point books"){
                                        <li class="selected">
                                    }else{
                                        <li>
                                    }
                                    <a href="@routes.LibraryController.deliveryPointBooksPage">Books by delivery point</a>
                                </li>
                            </ul>

                        </li>
                        @if(title == "Transfers"){
                            <li class="selected">
                        }else{
                            <li class="">
                         }
                            <a href="@routes.LibraryController.transfersPage"><i class="fa fa-edit fa-fw"></i>Transfers</a>
                        </li>
                    </ul>
                        <!-- end side-menu -->
                </div>
                    <!-- end sidebar-collapse -->
            </nav>
                <!-- end navbar side -->
                <!--  page-wrapper -->
            <div id="page-wrapper">

                <div class="row">
                        <!-- Page Header -->
                    <div class="col-lg-12">
                        <br>
                            <h1 class="navbar">@title</h1>
                        @content
                    </div>
                        <!--End Page Header -->
                </div>



            </div>
                <!-- end page-wrapper -->

        </div>
            <!-- end wrapper -->

            <!-- Core Scripts - Include with every page -->
        <script src="assets/plugins/jquery-1.10.2.js"></script>
        <script src="assets/plugins/bootstrap/bootstrap.min.js"></script>
        <script src="assets/plugins/metisMenu/jquery.metisMenu.js"></script>
        <script src="assets/plugins/pace/pace.js"></script>
        <script src="assets/scripts/siminta.js"></script>
    </body>
</html>
