@*
 * This template is called from the `index` template. This template
 * handles the rendering of the page header and body tags. It takes
 * two arguments, a `String` for the title of the page and an `Html`
 * object to insert into the body of the page.
 *@
@import models.user.UserCategory
@(userCategories:List[UserCategory], userCategory:UserCategory)

@main("Users"){
    <p>Please select the category to add user</p>
    <form action="@routes.LibraryController.selectUserCategory" method="post">
        <select multiple="multiple" class="form-control" name="UserCategory" size="@userCategories.size()" required>
            @for(category <- userCategories){
                @if(userCategory != null && category.id == userCategory.id) {
                    <option value="@category.id" selected="selected">@category.name</option>
                }else{
                    <option value="@category.id">@category.name</option>
                }
            }
        </select>
        <br><button type="submit" class="btn btn-primary">Select category</button>
    </form>

    <br>
    <br>

    <form action="@routes.LibraryController.addUser" method="post">
        <label>User name</label><br>
        <input type="text" name="name" required><br>
        <label>User surname</label><br>
        <input type="text" name="surname" required><br>
        <label>User middlename</label><br>
        <input type="text" name="middlename" required><br>
        <br><button type="submit" class="btn btn-primary">Add user</button>
    </form>

}
